<div class="front-office-layout">
  <nav class="top-nav">
    <div class="nav-brand">
      <a routerLink="/front-office">Front Office</a>
    </div>
    <div class="nav-links">
      <a *ngFor="let item of navItems" 
         [routerLink]="item.link" 
         routerLinkActive="active"
         class="nav-link">
        {{item.label}}
      </a>
    </div>
    <div class="nav-actions">
      <div ngbDropdown class="profile-dropdown">
        <button class="btn-profile" ngbDropdownToggle>
          <i class="bx bx-user-circle"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" routerLink="/front-office/profile">
            <i class="bx bx-user"></i> Profile
          </a>
          <a class="dropdown-item" routerLink="/front-office/wishlist">
            <i class="bx bx-heart"></i> Wishlist
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" (click)="logout()">
            <i class="bx bx-log-out"></i> Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div> 